NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://school-erp-admin:KoeLaPVJOBjEGA59@cluster0.w1zimwj.mongodb.net/?appName=Cluster0
JWT_SECRET=6bd0283ca47f07c85ed1dcb06a5628891ababd7af101ec3c07439c0f68c5bc29
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
